<!doctype html>
<html ng-app>
  <head>
    <!-- AngularJs source code -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
 <!-- end of AngularJs -->
<!--Bootstrap cdn-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- end of bootstrapcdn -->

  </head>
  <body style="padding:50px" ng-init="employees=[
  {name:'Pramod Jana', dob:'10/03/1998'},
  {name:'Shivani Konar', dob:'05/12/1997'},
  {name:'Tanishi srivastava', dob:'15/12/1997'},
  {name:'Pramod Jana', dob:'10/03/1998'},
  ]">


  <P> Filter for:

    <input ng-model="searchText"/></p>
    <ul ng-repeat="employee in employees | filter:searchText |orderBy :'name'">
      <li>{{employee.name}}</li>

    </ul>

  </body>
</html>
