<!doctype html>
<html ng-app>
  <head>
    <!-- AngularJs source code -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
 <!-- end of AngularJs -->
<!--Bootstrap cdn-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- end of bootstrapcdn -->

  </head>
  <body style="padding:50px" ng-controller="myController" >


  <p>

    <input placeholder="search for ..." ng-model="searchText"
    style="padding:3px; border-radius:5px;"/></p>
    <div class="card" ng-repeat="employee in employees | filter : searchText"
    style="width:300px; float:left; margin-right:10px">

      <div class="card-header text-white bg-primary">
        {{employee.name}}
      </div>
      <div class="card-body">
        Employee code : {{employee.empCode}} </br>
        Date of Birth : {{employee.dob}} </br>
        Address : {{employee.address}}
      </div>
    </div>




<script>
function myController($scope) {
  $scope.employees=[
  {name:'Pramod Jana', empCode:'ABC01',dob:'10/03/1998',address:'abc'},
  {name:'Shivani Konar',  empCode:'ABC02',dob:'05/12/1997',address:'def'},
  {name:'Tanishi srivastava',  empCode:'ABC03',dob:'15/12/1997',address:'ghi'},
  {name:'Pramod Jana', empCode:'ABC04', dob:'10/03/1998',address:'jkl'},
  ];
}

</script>

  </body>
</html>
